## Python Practice

In [35]:
# imports
import re

In [1]:
type(123)

int

In [2]:
favorite_number = 42
n = favorite_number + 7

In [3]:
n

49

In [4]:
print(n)

49

#### Booleans

In [5]:
True == True

True

In [6]:
True != True

False

In [7]:
True > True

False

In [8]:
is_first_of_the_month = True
report_has_been_filed = False

should_process_report = is_first_of_the_month and not report_has_been_filed

print(should_process_report)

True

#### Numbers

In [9]:
# Addition
add = 4 + 5

In [10]:
# Subtraction
sub = 9 - 1

In [11]:
# Multiplication
mult = 4 * 2

In [12]:
# Division
div = 8 / 4

In [13]:
# Exponentiation
exp = 2 ** 4

In [14]:
operators = [add, sub, mult, div, exp]

for i in operators:
    print(i, type(i))

9 <class 'int'>
8 <class 'int'>
8 <class 'int'>
2.0 <class 'float'>
16 <class 'int'>

In [15]:
# interesting that division is the only operation that produces a float

#### Numeric expressions with Booleans

In [16]:
4 ** 2 != 2 ** 4

False

In [17]:
# <, >, <=, >=

#### Strings

In [18]:
'hello there'
''
'123'
# "here is a number: 42. It's a nice number"

'123'

In [19]:
print('This string\ncontains a newline')

This string
contains a newline

In [20]:
# blocks of strings can also be delimited with triple quotes
print('''
This string
can contain
a lot of
text!''')

'''
This string
can contain
a lot of
text!'''

This string
can contain
a lot of
text!

'\nThis string\ncan contain\na lot of\ntext!'

#### String Operations
- Strings can be compared with the == and != operators.
- Strings can be concatenated with +
- Strings can be repeated with the * operator and a number

In [21]:
'hello' == 'hello'

True

In [22]:
'abc' != 'def'

True

In [23]:
'abc' + 'def'

'abcdef'

In [24]:
'abc' * 3

'abcabcabc'

In [25]:
# can't mix strings and numbers in most operations
# 'abc' + 3 produces error

#### String Formatting

##### It is very common that a string needs to contain the contents of a variable. There are several differen ways to include variables in strings
- `%` formatting: a little older, but still fairly common
- `.format`: a newer wayu to format strings
- f-strings: introduced in Python 3.6; comparable to string interpolation in other languages

In [26]:
name = 'World'

In [27]:
'Hello, %s!' % name

'Hello, World!'

In [28]:
'Hello, {}!'.format(name)

'Hello, World!'

In [29]:
f'Hello, {name}!'

'Hello, World!'

#### String Methods

- `.lower` and `.upper`: convert the string to all lower or upper-case
- `.strip`: removes any leading and trailing whitespace from the string
- `.isdigit`: tests whether or not the string is a number
- `.split`: converts a string to a list
- `.join`: converts a list to a string

<div class="alert alert-block alert-info">
All of the string methods here do not modify the original string, they return a new string with the modification.

In [30]:
s = '    Hello, Codeup!    '

In [31]:
s.lower()

'    hello, codeup!    '

In [32]:
s.upper()

'    HELLO, CODEUP!    '

In [33]:
s.strip()

'Hello, Codeup!'

In [34]:
s.isdigit()

False

In [35]:
'123'.isdigit()

True

In [36]:
s.strip().split()

['Hello,', 'Codeup!']

In [37]:
', '.join(['one', 'two', 'three'])

'one, two, three'

#### Lists

- lists allow us to store a sequence of objects
- each list item is called an 'element'
- elements in a list can be any type (including another list)
- most commonly, lists contain elements of the same type
- lists in Python, generally take the place of 'arrays' in languages like C, but can do extra things like be changed and have elements of various types

In [38]:
# a list with three numbers
[1, 2, 3]

[1, 2, 3]

In [39]:
# a list with three strings
['one', 'two', 'three']

['one', 'two', 'three']

In [40]:
# a list of lists
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#### List Operations
- items can be added to a list with `.append`
- items can be removed from a list with `.pop`

In [41]:
numbers = [1, 2, 3]

In [42]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [43]:
numbers.pop()
numbers

[1, 2, 3]

In [44]:
len(numbers)

3

##### List Indexing

In [45]:
# refer to the first element in the list:
numbers[0]

1

In [46]:
# refer to the last element in the list:
numbers[-1]

3

In [47]:
# this could also be called by calling the index from left
numbers[2]

3

In [48]:
# 'Slices' of a list can be called by using the `:` to indicate range inside `[]`
    # everything up to, but not including the element at index 2
numbers[:2]

[1, 2]

In [49]:
# everything including index one up to but not including index 2
numbers[1:2]

[2]

In [50]:
# every element from index one to the end of the list
numbers[1:]

[2, 3]

#### Converting to a List

<div class="alert alert-block alert-info">
Many Python functions return an 'iterable', as opposed to a list. For example, the range function returns an iterable `range` object, not a list. These types of objects can be converted to a list by using the `list` function.

In [51]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
type(range(10))

range

In [53]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [54]:
list(map(str, [1, 2, 3]))

['1', '2', '3']

In [55]:
type(map(str, [1, 2, 3]))

map

#### Tuples
- 'tuples' are like lists except that they are *immutable*
- once a tuple is created, its length is fixed and nothing can be added/removed
- generally, tuples are used when elements of different types v. lists used when same type.
- lists are much more common

In [56]:
(1, 'two', ['t', 'h', 'r', 'e', 'e'])

(1, 'two', ['t', 'h', 'r', 'e', 'e'])

In [57]:
my_tuple = (1, 2, 3)
my_tuple[1]

2


#### Dictionaries
- a way to group values together and give a name to each value.
- the *names* of the values are referred to as *keys*)
- the names together with their respective values are called *key-value pairs*
- dictionaries can be created by writing a dictiounary literal, which is delimited with curly braces, the keys are separated from the values with a colon, and key-value pairs are separated by commas.

In [58]:
{'name': 'Codeup', 'age': 4}

{'name': 'Codeup', 'age': 4}

In [59]:
type({'name': 'Codeup', 'age': 4})

dict

- dictionaries can also be created using the built-in `dict` function:

In [60]:
dict(name='Codeup', age=4)

{'name': 'Codeup', 'age': 4}

- You can access values in a dictionary by their name, somewhat similar to lists

In [61]:
school = dict(name='Codeup', age=4)

In [62]:
school['name']

'Codeup'

In [63]:
school['age'] + 1

5

In [64]:
school['age']

4

In [65]:
school['age'] += 1

In [66]:
school['age']

5

In [67]:
school

{'name': 'Codeup', 'age': 5}

In [68]:
import data_types_and_variables

The type of 99.9 is <class 'float'>
The type of 'False' is <class 'str'>
The type of False is <class 'bool'>
The type of '0' is <class 'str'>
The type of 0 is <class 'int'>
The type of True is <class 'bool'>

      The type of 'True' is <class 'str'>
      and the type of "True" is <class 'str'>

5. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.
- They pay you the following hourly rates:

    - Google: 400 dollars
    - Amazon: 380 dollars
    - Facebook: 350 dollars

This week you worked: 10 hours for Facebook, 6 hours for Google, and 4 hours for Amazon.

How much will you receive in payment for this week?

In [71]:
g_rate = 400
a_rate = 380
f_rate = 350

g_time = 6
a_time = 4
f_time = 10

weekly_pay = g_rate*g_time + a_rate*a_time + f_rate*f_time
print(f'Your weekly pay is ${weekly_pay:.2f}.')

Your weekly pay is $7420.00.

6. A student can be enrolled in a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [78]:
# Ask initial question to user followed by request for input standardized to upper-case
print('Is the class full? Input Y or N')
is_full_input = input().upper()

# assign variable is_full to be True if is_full_input is 'Y'
is_full = is_full_input == 'Y'

# Ask second question to user followed by request for input standardized to upper-case
print('Does the class conflict with the students schedule? Input Y or N')
has_conflict_input = input().upper()

# assign variable has_conflict to be True if has_conflict_input is 'Y'
has_conflict = has_conflict_input == 'Y'

# assign variable can_enroll to be True is student meets requirements to enroll in class
can_enroll = not is_full and not has_conflict

# print appropriate statement depending on whether can_enroll is True
if can_enroll == True:
    print('The student can enroll in the class')
else:
    print('The student cannot enroll in the class')

Is the class full? Input Y or N

 y

Does the class conflict with the students schedule? Input Y or N

 y

The student cannot enroll in the class

7. A product offer can be applied only if a customer buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

8. Use the following code to follow the instructions below:

`username = 'codeup'`

`password = 'notastrongpassword'
`

Create a variable that holds a boolean value for each of the following conditions:

- The password must be at least 5 characters
- The username must be no more than 20 characters
- The password must not be the same as the username
- Bonus Neither the username or password can start nor end with whitespace

In [86]:


username = 'codeup'
password = 'notastrongpassword'

at_least_5 = len(password) >= 5
twenty_or_less = len(username) <= 20
not_same = username != password
no_whitespace = username == username.strip() and password == password.strip()

print(at_least_5, twenty_or_less, not_same, no_whitespace)

#  # Assertions to test the conditions
# assert at_least_5, "Password should have at least 5 characters."
# assert twenty_or_less, "Username should have 20 characters or less."
# assert not_same, "Username and password should not be the same."
# assert no_whitespace, "Username and password should not have leading or trailing whitespace."

#     # print("All conditions passed successfully.")

True True True True

#### Control Structures

In [11]:
def monday_or_not():
    print('Type a day of the week.')
    user_in = input()
    if user_in.lower().strip() == 'monday':
        print('Yeup, that\'s a Monday.')
    else:
        print('Definitely not a Monday!.')

In [12]:
monday_or_not()

Type a day of the week.

   mOnday

Yeup, that's a Monday.

In [14]:
def weekday_or_weekend():
    weekdays = ['monday', 'tuesday', 'wednesday'
               , 'thursday', 'friday']
    weekend_days = ['saturday', 'sunday']
    print('Type a day of the week.')
    user_in = input().lower().strip()
    if user_in in weekdays:
        print('That, good sir or madam, is a weekday.')
    elif user_in in weekend_days:
        print('Hell yeah, that\'s a weekend day!')
    else:
        print('Dunno what that is, but it isn\'t a day of the week!')

In [36]:
weekday_or_weekend()

Type a day of the week.

 what a day

Dunno what that is, but it isn't a day of the week!

In [38]:
def weekly_pay():
    print('Welcome to your paycheck calculator')
    hourly_rate = float(input("Enter your hourly pay rate: $").strip())
    hours_worked = float(input('Enter the number of hours worked this pay period: '))
    print(f'Your gross pay for the week is ${hourly_rate * hours_worked :.2f}')

In [39]:
weekly_pay()

Welcome to your paycheck calculator

Enter your hourly pay rate: $ 23.45
Enter the number of hours worked this pay period:  42

Your gross pay for the week is $984.90

In [48]:
if __name__ == '__main__':
    master_list = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        master_list.append([name, score])
        
print(master_list)
# find list of unique scores using set(), convert set to list
unique_scores = list(set([x[1] for x in master_list]))
# sort unique scores low to high and select second (index 1)
second_lowest_score = sorted(unique_scores)[1]
print(second_lowest_score)
# find lists in master_list that have second_lowest_score
# add name to list and sort alphabetically
sls_names = sorted([x[0] for x in master_list if x[1] == second_lowest_score])
for name in sls_names:
    print(name)

 5
 ash
 100
 bob
 99
 cal
 99
 dan
 98
 eric
 97

[['ash', 100.0], ['bob', 99.0], ['cal', 99.0], ['dan', 98.0], ['eric', 97.0]]
98.0
dan